.chatroomheader{
    height: 10vh;
    position: sticky;
    top: 0;
}  
  
  .mainChatArea {
    height: 60vh;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
  }
  
  .mainChatArea::-webkit-scrollbar {
    width: 0.25rem;
  }
  
  .mainChatArea::-webkit-scrollbar-track {
    background: #1e1e24;
  }
  
  .mainChatArea::-webkit-scrollbar-thumb {
    background: #6649b8;
  }
  
  .textAreaForm {
    height: 10vh;
    position: fixed;
    bottom: 0;
    width: 100%;
    max-width: 728px;
    display: flex;
    font-size: 1.5rem;
    background: rgba(196, 196, 196, 0.747);
    padding: 4% 0 0 5%;
  }
  
  .textAreaForm Button {
    width: 20%;
  }
  .textAreaForm .textarea {
    width: 70%;
  }
  
  p {
    margin: 2%;
    max-width: 500px;
    margin-bottom: 12px;
    line-height: 24px;
    padding: 10px 20px;
    border-radius: 25px;
    position: relative;
    color: white;
    text-align: center;
  }
  
  .message {
    display: flex;
    align-items: center;
    margin: 2%;
  }
  
  
  .sent {
    flex-direction: row-reverse;
  }
  
  .sent p {
    color: white;
    background: #0b93f6;
    align-self: flex-end;
  }
  .received p {
    background: #e5e5ea;
    color: black;
  }
  
  img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 2px 5px;
  }